.logo{
    letter-spacing: 3px;
    text-decoration-line: none;
    margin-top: 5px;
}
.titleName{
    padding-left: 1%;
    }
nav.HeadNav{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.divHead{
    background-color: #504B4A;
    border-radius: 10px;
}
.searchIcon, .locationOnIcon{
  font-size: 1.2rem;  
  margin-bottom: 6px;
  margin-right: 8px;
}
.phoneIcon{
    background-color: #618967;
    font-size: 1rem;
    flex-grow: 30%;
    border-radius:8px;
    padding: 3px;
}
.contacts2{
    flex-grow: auto;
}
.contacts{
    flex-direction: row;
}
.linkBtn{
    text-decoration-line: none;
}
.UlNone{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.UlNone a{
    text-decoration-line: none;
}
.UlNone a :hover{
    text-decoration: underline;
    text-decoration-color: #335337;
    text-decoration-thickness: 3px;
}
.btnHead{
    background-color: #618967;
    text-decoration-line: none;
    border-radius: 10px;
    border: 1px solid #618967;
    font-size: 0.8rem;
  }
  /* span.colorBlack{
    color: black;
    width: 22px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    font-size: 0.8rem;
  } */
  